* {
  box-sizing: border-box;
  font-family: Helvetica;
  
}


body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}


body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 30px;
  overflow-y: scroll;
}

nav > a:hover {
  color: white;
  background-color: #424748;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.student-name {
  position: relative;
  top: -5px;
}

.collection-item form {
  margin-top: -5px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  margin: auto;
}

.login img {
  height: 30px;
}

#text {
  color: white;
  padding: 50 px

}
#text1 {
  color: rgb(150, 143, 143);
  padding: 50 px

}


